@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERAL */
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Inter', sans-serif !important;
    background-color: #F2F2F2 !important;
}

p{
    font-weight: 500 !important;
}

::placeholder {
    color: #ffffff;
}






/* Icons  */
.circle {
    height: 8px;
    width: 8px;
}

.sm-circle {
    height: 8px;
    width: 8px;
}

@media (min-width: 992px) {
    .circle {
        height: 32px;
        width: 32px;
    }

    .sm-circle {
        height: 16px;
        width: 16px;
    }

    .services_home {
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
    }
}

.line {
    height: 1px;
    width: 90px;
}





/* Logos */
.logo {
    height: 3rem;
    width: 3rem;
}

.logo > div {
    height: 1rem;
    width: 1rem;
}





/* HOME */
.information div {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

@media (max-width: 992px) {
    .information div > h1 {
        font-size: 48px !important;
    }

    .services_home {
        border-top: none !important;
    }
}





/* SERVICES */
@media (min-width: 992px) {
    .services_info {
        width: 60% !important;
    }

    .services_type {
        width: 65% !important;
    }

    .wedding {
        transform: translateY(-30%) translateX(5%);
    }

    div.lifestyle{
        transform: translateY(-30%) translateX(54%) !important;
    }

    .portrait {
        transform: translateY(-30%) translateX(54%)
     }

     .fashion {
        transform: translateY(-30%);
     }

     .graduation {
        transform: translateY(-30%) translateX(5%);
     }

    .move_up {
        transform: translateY(-35%);
    }
}

@media (max-width: 992px) {
    .services img {
        width: 100% !important;
    }
}







/* PROJECTS */
.right_projects {
    z-index: 0 !important;
}

@media (min-width: 992px){
    .projects p {
        margin-top: 1rem;
    }

    .left_projects{
        transform: translateX(-58%);
    }

    .right_controls {
        width: 20%;
        transform: translateY(-100%) translateX(400%);
    }

    .left_controls {
        width: 20%;
        transform: translateY(-100%);
    }
}

.projects .sm-circle {
    margin-top: 1rem;
}

@media (max-width: 992px) {
    .projects .sm-circle {
        margin-top: 0.25rem;
    }
}





/* CONTACT */
.contact ::placeholder {
    color: #000 !important;
    font-weight: 500;
}






/* FOOTER */
.footer {
    background-color: #000;
}

.footer input {
    width: 50% !important;
}

@media (max-width: 992px) {
    .footer input {
        width: 100% !important;
    }
}



